* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: row;
    font-size: 13.2px;
}

.img-sidebar {
    justify-items: center;
    width: 30%;
    background-image: url("halie-west-25xggax4bSA-unsplash.jpg");
    background-size: cover;
    height: 100vh;
}

.form-sidebar {
    border: 1px solid grey;
    justify-items: left;
    width: 70%;
}

.main-entrytext {
    max-width: 80%;
    margin-left: 40px;
    margin-top: 100px;
}

.text2 {
    margin-top: 40px;
}

.main-form {
    min-width: 100%;
    margin-top: 60px;
}

fieldset {
    display: block;
    min-inline-size: 0px;
    margin-inline: 0px;
    border-width: 0px;
    border-style: none;
    border-image: none;
    padding-block: 0px;
    padding-inline: 0px;

    box-shadow:
        /* Top Shadow */
        0 -8px 8px -8px rgba(0, 0, 0, 0.4),
        /* offset-y, blur-radius, spread-radius */
        /* Bottom Shadow */
        0 8px 8px -8px rgba(0, 0, 0, 0.4);
    margin-bottom: 15px;
}

.inside-form {
    margin-top: 20px;
    margin-left: 40px;
}

label {
    padding: 10px 0px 0px 0px;
    color: rgb(105, 104, 104);
    margin-bottom: 0.5px;
}

input {
    height: 40px;
    padding: 10px;
    font-size: 15px;
    border-radius: 6px;
    border: 0.5px solid rgba(128, 128, 128, 0.452);
}

.all-inputs {
    display: flex;
    flex-direction: row;
    max-width: 75%;
    margin-bottom: 20px;
}

.form-inputs {
    display: flex;
    flex-direction: column;
    min-width: 50%;
    padding: 20px 40px 20px 0px;
}

button {
    font-weight: bold;
    font-size: larger;
    color: white;
    background-color: rgb(88, 109, 73, 255);
    padding: 10px 20px;
    border-radius: 5px;
    border-color: transparent;
    min-width: 220px;
    min-height: 50px;
    margin-top: 20px;
    margin-bottom: 25px;
}

.button-stuff {
    margin-left: 40px;
}