* {
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: row;
    font-size: 15px;
}

.img-sidebar {
    justify-items: center;
    width: 30%;
    background-image: url("halie-west-25xggax4bSA-unsplash.jpg");
    background-size: cover;
    height: 100vh;
}

.form-sidebar {
    border: 1px solid grey;
    justify-items: left;
    width: 70%;
    padding: 200px 40px 200px 35px;
}

.main-form {
    min-width: 100%;
}


fieldset {
    display: block;
    min-inline-size: 0px;
    margin-inline: 0px;
    border-width: 0px;
    border-style: none;
    border-image: none;
    padding-block: 0px;
    padding-inline: 0px;
}

label {
    padding: 10px 0px 0px 0px;
}

input {
    height: 40px;
    padding: 10px;
    font-size: 15px;
    border-radius: 6px;
    border: 0.5px solid grey;
}

.all-inputs {
    display: flex;
    flex-direction: row;
    max-width:75%;
}

.form-inputs {
    display: flex;
    flex-direction: column;
    min-width: 50%;
    padding: 20px 40px 20px 0px;
}